<nav class="navbar navbar-fixed-top">
	 <div class="input-group">
		<input type="text" id="note" class="form-control" placeholder="Enter Vetting Note Here...">
		<span class="input-group-btn">
			<button id="addNote" class="btn btn-primary" type="submit">Add Note</button>
		</span>
	</div>
</nav>
<!--
<button id="addNote" type="submit" class="btn btn-primary">Add Note</button>
<textarea id="note" class="form-control" placeholder="Enter Note Here..."></textarea>
-->
<br><br>
<a href="/view" class="btn btn-primary">Back to Vetting Home</a> 
<a href="/view/{{doc._id}}" class="btn btn-primary">Back to Application View</a>



<div class="container col-xs-12">
	<div class="col-sm-8">
		<h1>Vetting Worksheet for {{doc.application.name.first}} {{doc.application.name.last}}</h1>
	</div>
	<div class="col-sm-4">
		<h3>Status: <a href="#" id="status" data-type="select" data-pk="1" data-url="/edit/{{doc._id}}" data-name="status" data-title="Select status"></a></h3>
	</div>
</div>
<div class="container col-xs-12">
		<!--VETTING NOTES-->
		<h3>Vetting Notes</h3>
    <div class="form-group">
        <form method="post">
            <input type="hidden" value="{{doc._id}}" id="appId"/>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th class="col-sm-2">Date</th>
                    <th class="col-sm-6">Note</th>
                    <th class="col-sm-6"> </th>
                </tr>
                </thead>
                <tbody id="notes-body">
                {{#if vettingNotes}}
                    {{#each vettingNotes}}
                        <tr>
                            <td>{{this.date}}</td>
                            <td class="note-descrip">{{this.description}}</td>
                            <td>
                                <form>
                                    <input type="hidden" value="{{this._id}}" name="noteId" />
                                    <input type="submit" class="update-button btn btn-info" value="Update Note"/>
                                    <input type="submit" class="delete-button btn btn-danger" value="Delete Note"/>
                                </form>
                            </td>
                        </tr>
                    {{/each}}
                {{else}}
                    <tr>
                        <td id="empty-notes" class="alert-danger danger" colspan="3">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> No Notes To Display
                        </td>
                    </tr>
                {{/if}}

				<tr><!--THIS EMPTY ROW IS NECESSARY FOR addNote.js TO WORK ON MULTIPLE PAGES--></tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
		<!-- ADDRESS AREA AND MAP IT LINK -->
<div class="col-xs-12">
            <h3>Address</h3>
			<div class="col-xs-12">
				<div class="row">
					<div class="col-sm-5">
						<a id="address" href="#" data-type="address" data-pk="1" data-url="/edit/address/{{doc._id}}" data-title="Enter Address"></a>
					</div>
					<div class="col-sm-7">
						<a href="http://maps.google.com/?q={{doc.application.address.line_1}} {{doc.application.address.city}} {{doc.application.address.state}} {{doc.application.address.zip}}" target="_blank"><b>Map it!</b></a>
					</div>
				</div>
			</div>
			
			<br><h4>Is this Property within our Service Area?</h4>
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-3">
						<input type="radio" id="sa_yes" name="service_area" value="true"> Yes<br>
						<input type="radio" id="sa_no" name="service_area" value="false"> No
					</div>
					<div class="col-sm-9">
						[Vetting Agent Note: If no, change Application Status to "On Hold - Pending Discussion" and enter an applicable Vetting Note.]
					</div>
				</div>
			</div>
</div>

<div class="col-xs-12">
	<table>
		<tr>
			<td valign="baseline"><h3>Advocate</h3></td>
			<td valign="baseline"> &nbsp; &nbsp; (if applicable...)</td>
		</tr>
	<table>
	<div class="col-xs-12">
		<table class="table table-striped">
			<tr>
				<th class="col-sm-2">Advocate Name</th>
				<th class="col-sm-2">Advocate Phone</th>
				<th class="col-sm-2">Relationship to Client</th>
				<th class="col-md-2">Organization</th>
			</tr>
			<tr>
				<td>{{doc.advocate.name}}</td>
				<td>{{doc.advocate.phone}}</td>
				<td>{{doc.advocate.relationship}}</td>
				<td>{{doc.advocate.organization_name}}</td>
			</tr>
		</table>
	</div>
</div>

<div class="col-xs-12">
	<h3>Applicant Contact Information</h3>
	<table>
	<div class="col-xs-12">
		<table class="table table-striped">
			<tr>
				<th class="col-sm-2">Name</th>
				<th class="col-sm-2">Phone</th>
				<th class="col-sm-2">Other Phone</th>
				<th class="col-md-2">Email</th>
			</tr>
			<tr>
				<td>{{doc.application.name.first}} {{doc.application.name.last}} </td>
				<td>{{doc.application.phone.preferred}}</td>
				<td>{{doc.application.phone.other}}</td>
				<td>{{doc.application.email}}</td>
			</tr>
		</table>
	</div>
</div>

<div class="col-xs-12">
	<h3>Advocate Conversation Script</h3>
	<p class="scriptText">Hello. My name is ______________ and  I’m calling from Catalyst Partnerships. You are listed as an advocate on {{doc.application.name.first}} {{doc.application.name.last}}'s application for our help with repairs on their home. I have some questions for you. Is this a good time to talk?</p>
	
	<p><i>
	&nbsp;&nbsp;&nbsp;&nbsp; <b>IF YES:</b> (proceed)<br>
	&nbsp;&nbsp;&nbsp;&nbsp; <b>IF NO:</b> (reschedule for call back - make vetting note)
	</i></p>
	
	<p class="scriptText">Is there any information you would like to share with us regarding {{doc.application.name.first}} or their situation that hasn't been captured by the application that might help us better serve them?</p>
	
	<p class="scriptText">We have some questions regarding {{doc.application.name.first}}'s application. Can we contact {{doc.application.name.first}} directly or should we work through you?
	
	<p><i>
	&nbsp;&nbsp;&nbsp;&nbsp; <b>IF CONTACT APPLICANT</b> (Thank Advocate, call Applicant)<br>
	&nbsp;&nbsp;&nbsp;&nbsp; <b>IF WORK THROUGH ADVOCATE:</b> <a href="#targettwo">Skip to [2]</a>
	</i></p>

	<b>[1]</b>
	<h3>Applicant Conversation Script:</h3>
	<p class="scriptText">Good Morning. My name is _________________ and I’m calling from Catalyst Partnerships.  You contacted us for some help with repairs to your home. To process your application I need a little more information. Is this a good time to talk?
	
	<p><i>
	&nbsp;&nbsp;&nbsp;&nbsp; <b>IF YES:</b> (proceed)<br>
	&nbsp;&nbsp;&nbsp;&nbsp; <b>IF NO:</b> (reschedule for call back - make vetting note)
	</i></p>
	
	<p id="targettwo"><br></p>
	<b>[2]</b>
	<p class="scriptText">Before I ask my questions let me take a minute to describe our process.  Today my focus will be on confirming that you meet our financial guidelines. If you do, next we would arrange to visit your home to determine whether the requested repairs are things that Catalyst has the expertise and resources to do. Then, If we can do the work, we would find a mutually agreeable date and get you on our project schedule. Finally we would show up at your home on the agreed date and do the work. Does all that make sense to you?</p>
 
	<p class="scriptText">Now, the first thing we need is your proof of home ownership. Can you provide us with, for example, either a copy of your latest mortgage statement, or possibly a copy of deed or title, or maybe your most recent home insurance statement?</p>
	

<i><b>Give them the address to send it to:</b></i><br>
	<table cellpadding=10>
	<tr><td> &nbsp;&nbsp;&nbsp;&nbsp; 
		</td><td valign="middle">
			<b>Catalyst Partnerships<br>
			PO Box 1922<br>			
			Beaverton, OR 97075</b><br>
		</td><td valign="middle">
			<h4>OR</h4>
		</td><td valign="middle">
			<b>office@catalystnw.org</b>
		</td></tr>
	</table>
	
	<h3>Requested Repairs</h3>
	
	<p><i>The Vetting Agent’s job is to create Work Items (a quick title) and their descriptions (as long as is necessary to be helpful...) These items will be sent to the Site Assessors/Handle-It team.</i></p>
	
		
	<span><i>[From the application:]</i></span>
	<table class=table table-striped><tr><td>
	&nbsp;&nbsp;&nbsp;&nbsp; {{doc.property.requested_repairs}}
	</td></tr></table>

	<p class="scriptText">Okay. Let’s talk about the repairs you requested:</p>
	
	<p><i><b>Conversation starters/helpers:</b><br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Your application says…<br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Tell me more about…<br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; How long has this condition existed?</i></p>
	
<!-- THIS AREA IS NOT IMPLEMENTED JUST YET, although it SHOULD work something like
--- the way the Vetting Notes are added on the App View page.  They should populate
--- above (or below) the input fields.  The ids are not set in stone, but here
--- just to give someone an idea for how it could get set up -->
	<table class="table">
		<tr><td id="empty-work_items" class="alert-danger danger" colspan="3">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> No Work Items Yet To Display
        </td></tr>
	</table>
	<h4><i>Enter Work Items Below</i></h4>
	<div class="input-group">
		<input type="text" id="work_item_title" class="form-control" placeholder="Enter brief Work Item Title Here..."><br>
		<textarea rows="3" cols="60" id="work_item_description" class="form-control" placeholder="Enter detailed Work Item Description Here..."></textarea>
		
		<button id="add_work_item" class="btn btn-primary" type="submit">Add Work Item</button>
		
	</div>
	
	
	
</div>


<!-- DIV TEMPLATE 
<div class="col-xs-12">
            <h3>Address</h3>
</div> -- END DIV TEMPLATE -->
<!--  OLD STUFF ----------------------------------------------------

			<i><br><br>[Here is where the new stuff leaves off and the old stuff remains (mostly for reference...]<br><br></i>

			<table class="table table-striped">
                    <tbody>
				<tr>
                    <td>Name</td>
                    <td>
                        <a id="name" href="#" data-type="name" data-pk="1" data-url="/edit/name/{{doc._id}}" data-title="Enter Name"></a>
                    </td>
                </tr>
                <tr>
                    <td>Preferred Name</td>
                    <td><a href="#" id="pref_name" data-type="text" data-pk="1" data-url="/edit/{{doc._id}}" data-name="application.name.preferred" data-title="Enter Preferred Name">{{doc.application.name.preferred}}</a></td>
                </tr>
                <tr>
                    <td>Preferred Phone</td>
                    <td><a href="#" id="phone_number" data-type="text" data-pk="1" data-url="/edit/{{doc._id}}" data-name="application.phone.preferred" data-title="Enter Preferred Phone Number">{{doc.application.phone.preferred}}</a></td>
                </tr>
                <tr>
                    <td>Other Phone</td>
                    <td><a href="#" id="cell_phone" data-type="text" data-pk="1" data-url="/edit/{{doc._id}}" data-name="application.phone.other" data-title="Enter Other Phone Number">{{doc.application.phone.other}}</a></td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td>
                        <a id="address" href="#" data-type="address" data-pk="1" data-url="/edit/address/{{doc._id}}" data-title="Enter Address"></a>
                    </td>
                </tr>
                <tr>
                    <td>Date Of Birth</td>
                    <td><a href="#" id="dob" data-type="date" data-pk="1" data-url="/edit/{{doc._id}}" data-name="application.dob.date" data-title="Select date">{{doc.application.dob.date}}</a></td>
                </tr>
                <tr>
                    <td>Marital Status</td>
                    <td>
                        <a href="#" id="marital_status" data-type="text" data-pk="1" data-url="/edit/{{doc._id}}" data-name="application.marital.status" data-title="Enter Marital Status">{{doc.application.marital.status}}</a>
                    </td>
                </tr>
                <tr>
                    <td>Spouse</td>
                    <td>
                        <a href="#" id="spouse" data-type="text" data-pk="1" data-url="/edit/{{doc._id}}" data-name="application.marital.spouse" data-title="Enter Spouse Name">{{doc.application.marital.spouse}}</a>
                    </td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td><a href="#" id="email" data-type="text" data-pk="1" data-url="/edit/{{doc._id}}" data-name="application.email" data-title="Enter Email">{{doc.application.email}}</a></td>
                </tr>
                <tr>
                    <td>Driver's License</td>
                    <td><a href="#" id="driver_license" data-type="text" data-pk="1" data-url="/edit/{{doc._id}}" data-name="application.driver_license.number" data-title="Enter Driver's License Number">{{doc.application.driver_license.number}}</a></td>
                </tr>
                <tr>
                    <td>Emergency Contact</td>
                    <td>Name: <a href="#" id="emergency_name" data-type="text" data-pk="1" data-url="/edit/{{doc._id}}" data-name="application.emergency_contact.name" data-title="Enter Emergency Contact Name">{{doc.application.emergency_contact.name}}</a>
                        <br>
                        Relationship: <a href="#" id="emergency_relation" data-type="text" data-pk="1" data-url="/edit/{{doc._id}}" data-name="application.emergency_contact.relationship" data-title="Enter Emergency Contact Relationship">{{doc.application.emergency_contact.relationship}}</a>
                        <br>
                        Phone: <a href="#" id="emergency_phone" data-type="text" data-pk="1" data-url="/edit/{{doc._id}}" data-name="application.emergency_contact.phone" data-title="Enter Emergency Contact Phone Number">{{doc.application.emergency_contact.phone}}</a>
                    </td>
                </tr>
                <tr>
                    <td>Language</td>
                    <td>{{doc.application.language}}</td>
                </tr>
                <tr>
                    <td>Veteran</td>
                    <td>
                        <a href="#" id="veteran" data-type="select" data-pk="1" data-url="/edit/{{doc._id}}" data-name="application.veteran" data-title="Select Veteran Status"></a>
                    </td>
                </tr>
                <tr>
                    <td>Owns Home</td>
                    <td>
                        <a href="#" id="owns_home" data-type="select" data-pk="1" data-url="/edit/{{doc._id}}" data-name="application.owns_home" data-title="Select Home Ownership Status"></a>
                    </td>
                </tr>
                <tr>
                    <td>Special Circumstances</td>
                    <td>
                        <a href="#" id="special_circumstances" data-type="textarea" data-pk="1" data-url="/edit/{{doc._id}}" data-name="application.special_circumstances.note" data-title="Enter Special Circumstances">{{doc.application.special_circumstances.note}}</a>
                    </td>
                </tr>
                </tbody>
            </table>

<!--WORK ITEMS -  PROBABLY NOT NECESSARY TO BE HERE, because it isn't part of the original application.  This section will be necessary in the Single-App-Vetting-View (phone script)
            <h3>Work Items</h3>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Requested Repairs</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Toilet Repair</td>
                    <td>This is an example of a work request entered by the agent visiting the home.</td>
                </tr>
                <tr>
                    <td>Cannot complete</td>
                    <td>This is an example of an item that is too costly to do; it must be rejected.</td>
                </tr>
                <tr>
                    <td>Mulling it over</td>
                    <td>This is an example of an item that might be completed!</td>
                </tr>
                </tbody>
            </table>
--END WORK ITEMS 

<!--PROPERTY ITEMS 
            <h3>Property</h3>
            <table class="table table-striped">
                <tbody>
                <tr>
                    <td>Home Type</td>
                    <td><a href="#" id="home_type" data-type="text" data-pk="1" data-url="/edit/{{doc._id}}" data-name="property.home_type" data-title="Enter Home Type">{{doc.property.home_type}}</a></td>
                </tr>
                <tr>
                    <td>Length of Ownership</td>
                    <td><a href="#" id="ownership_length" data-type="text" data-pk="1" data-url="/edit/{{doc._id}}" data-name="property.ownership_length" data-title="Enter Ownership Length">{{doc.property.ownership_length}}</a></td>
                </tr>
                <tr>
                    <td>Year Constructed</td>
                    <td><a href="#" id="year_constructed" data-type="text" data-pk="1" data-url="/edit/{{doc._id}}" data-name="property.year_constructed" data-title="Enter Year Constructed">{{doc.property.year_constructed}}</a></td>
                </tr>
                <tr>
                    <td>Requested Repairs</td>
                    <td><a href="#" id="requested_repairs" data-type="text" data-pk="1" data-url="/edit/{{doc._id}}" data-name="property.requested_repairs" data-title="Enter Requested Repairs">{{doc.property.requested_repairs}}</a></td>
                </tr>
                <tr>
                    <td>Other Residents</td>
                    <td>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Age</th>
                                <th>Relationship</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#each doc.application.other_residents.name}}
                                <tr>
                                    <td><a href="#" class="residents_name" id="residents_name_{{@index}}" data-type="text" data-pk="{{this}}" data-url="/edit/array/{{../doc._id}}" data-name="application.other_residents.name">{{this}}</a></td>
                                    <td><a href="#" class="residents_age" id="residents_age_{{@index}}" data-type="text" data-pk="{{lookup ../doc.application.other_residents.age @index}}" data-url="/edit/array/{{../doc._id}}" data-name="application.other_residents.age">{{lookup ../doc.application.other_residents.age @index}}</a></td>
                                    <td><a href="#" class="residents_relationship" id="residents_relationship_{{@index}}" data-type="text" data-pk="{{lookup ../doc.application.other_residents.relationship @index}}" data-url="/edit/array/{{../doc._id}}" data-name="application.other_residents.relationship">{{lookup ../doc.application.other_residents.relationship @index}}</a></td>
                                </tr>
                            {{/each}}
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>

<!--FINANCIAL INFO--
            <h3>Finances</h3>
            <table class="table table-striped">
                <tbody>
                <tr>
                    <td>Mortgage Payment</td>
                    <td><a href="#" id="mortgage_payment" data-type="number" data-pk="1" data-url="/edit/{{doc._id}}" data-name="finance.mortgage.payment" data-title="Enter Mortgage Payment">{{doc.finance.mortgage.payment}}</a></td>
                </tr>
                <tr>
                    <td>Mortgage Up-to-Date</td>
                    <td><a href="#" id="mortgage" data-type="select" data-pk="1" data-url="/edit/{{doc._id}}" data-name="finance.mortgage.up_to_date" data-title="Is Mortgage Up-to-Date?"></a></td>
                </tr>
                <tr>
                    <td>Income Amount</td>
                    <td><a href="#" id="income" data-type="number" data-pk="1" data-url="/edit/{{doc._id}}" data-name="finance.income.amount" data-title="Enter Income">{{doc.finance.income.amount}}</a></td>
                </tr>
                <tr>
                    <td>Client Can Contribute Financially</td>
                    <td>
                        <a href="#" id="f_client_can_contrib" data-type="select" data-pk="1" data-url="/edit/{{doc._id}}" data-name="finance.client_can_contribute.value" data-title="Can Client Contribute Financially?"></a>
                    </td>
                </tr>
                <tr>
                    <td>Client Financial Contribution</td>
                    <td><a href="#" id="f_client_contrib" data-type="text" data-pk="1" data-url="/edit/{{doc._id}}" data-name="finance.client_can_contribute.description" data-title="Enter Contribution Description">{{doc.finance.client_can_contribute.description}}</a></td>
                </tr>
                <tr>
                    <td>Associates Can Contribute Financially</td>
                    <td>
                        <a href="#" id="f_associate_can_contrib" data-type="select" data-pk="1" data-url="/edit/{{doc._id}}" data-name="finance.associates_can_contribute.value" data-title="Can Associates Contribute Financially?"></a>
                    </td>
                </tr>
                <tr>
                    <td>Associate Financial Contribution</td>
                    <td><a href="#" id="f_associate_contrib" data-type="text" data-pk="1" data-url="/edit/{{doc._id}}" data-name="finance.associates_can_contribute.description" data-title="Enter Contribution Description">{{doc.finance.associates_can_contribute.description}}</a></td>
                </tr>
				</tbody>
			</table>
			<table class="table table-striped">
                <tbody>
                <tr>
                    <td>Assets</td>
                    <td>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Asset</th>
                                <th>Amount</th>
                            </tr>
                            </thead>
                            {{#each doc.finance.assets.name}}
                                <tr>
                                    <td><a href="#" class="asset_name" id="f_asset_name_{{@index}}" data-type="text" data-pk="{{this}}" data-url="/edit/array/{{../doc._id}}" data-name="finance.assets.name">{{this}}</a></td>
                                    <td><a href="#" class="asset_value" id="f_asset_value_{{@index}}" data-type="text" data-pk="{{lookup ../doc.finance.assets.value @index}}" data-url="/edit/array/{{../doc._id}}" data-name="finance.assets.value">{{lookup ../doc.finance.assets.value @index}}</a></td>
                                </tr>
                            {{/each}}
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>

<!--LABOR HELP--
            <h3>Assistance</h3>
            <table class="table table-striped">
                <tbody>
                <tr>
                    <td>Client Can Contribute Labor</td>
                    <td>
                        <a href="#" id="l_client_can_contrib" data-type="select" data-pk="1" data-url="/edit/{{doc._id}}" data-name="property.client_can_contribute.value" data-title="Can Client Contribute Labor?"></a>
                    </td>
                </tr>
                <tr>
                    <td>Client Labor Contribution</td>
                    <td><a href="#" id="l_client_contrib" data-type="text" data-pk="1" data-url="/edit/{{doc._id}}" data-name="property.client_can_contribute.description" data-title="Enter Contribution Description">{{doc.property.client_can_contribute.description}}</a></td>
                </tr>
                <tr>
                    <td>Associates Can Contribute Labor</td>
                    <td>
                        <a href="#" id="l_associate_can_contrib" data-type="select" data-pk="1" data-url="/edit/{{doc._id}}" data-name="property.associates_can_contribute.value" data-title="Can Associates Contribute Labor?"></a>
                    </td>
                </tr>
                <tr>
                    <td>Associate Labor Contribution</td>
                    <td><a href="#" id="l_associate_contrib" data-type="text" data-pk="1" data-url="/edit/{{doc._id}}" data-name="property.associates_can_contribute.description" data-title="Enter Contribution Description">{{doc.property.associates_can_contribute.description}}</a></td>
                </tr>
                <tr>
                    <td>Involved with a Faith-Based Organization</td>
                    <td>
                        <a href="#" id="fbo_help" data-type="select" data-pk="1" data-url="/edit/{{doc._id}}" data-name="recruitment.fbo_help" data-title="Does client belong to an FBO?"></a>
                    </td>
                </tr>
                <tr>
                    <td>Client Contribution</td>
                    <td><a href="#" id="fbo_name" data-type="text" data-pk="1" data-url="/edit/{{doc._id}}" data-name="recruitment.fbo_name" data-title="Enter Name of FBO">{{doc.recruitment.fbo_name}}</a></td>
                </tr>
                <tr>
                    <td>Requested Other Help</td>
                    <td><a href="#" id="request_help" data-type="select" data-pk="1" data-url="/edit/{{doc._id}}" data-name="finance.requested_other_help.value" data-title="Client Requested Other Help?"></a></td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
-->

<script>
    function goBack() {
        window.history.back();
    }

    /**
     * Some inline-editable fields require data from the DB to properly work
     *  They are defined here instead of a seperate file since it needs access
     *  to the handlebars template system
     */
    $(document).ready(function() {
        $('#address').editable({
            value: {
                line_1: '{{doc.application.address.line_1}}',
                line_2: '{{doc.application.address.line_2}}',
                city: '{{doc.application.address.city}}',
                state: '{{doc.application.address.state}}',
                zip: '{{doc.application.address.zip}}'
            }
        });

        $('#name').editable({
            value: {
                first: '{{doc.application.name.first}}',
                middle: '{{doc.application.name.middle}}',
                last: '{{doc.application.name.last}}'
            }
        });

        $('#veteran').editable({
            value: '{{doc.application.veteran}}',
            source:
                    [
                        {value: 'true', text: 'true'},
                        {value: 'false', text: 'false'}
                    ]
        });

        $('#mortgage').editable({
            value: '{{doc.finance.mortgage.up_to_date}}',
            source:
                    [
                        {value: 'true', text: 'True'},
                        {value: 'false', text: 'False'}
                    ]
        });

        $('#status').editable({
            value: '{{doc.status}}',
            source:
                    [
                        {value: 'discuss', text: 'On Hold - Pending Discussion'},
                        {value: 'new', text: 'NEW'},
                        {value: 'phone', text: 'Phone Call Needed'},
                        {value: 'handle', text: 'Handle-It'},
                        {value: 'documents', text: 'Awaiting Documents'},
                        {value: 'visit', text: 'Site Assessment'}, //TODO: Change to assess
                        {value: 'approval', text: 'Approval Process'},
                        {value: 'declined', text: 'Declined'},
                        {value: 'withdrawn', text: 'Withdrawn'},
                        {value: 'project', text: 'Approved Project'}
                    ]
        });

        $('#owns_home').editable({
            value: '{{doc.application.owns_home}}',
            source:
                    [
                        {value: 'true', text: 'true'},
                        {value: 'false', text: 'false'}
                    ]
        });

        $('#f_client_can_contrib').editable({
            value: '{{doc.finance.client_can_contribute.value}}',
            source:
                    [
                        {value: 'true', text: 'true'},
                        {value: 'false', text: 'false'}
                    ]
        });

        $('#f_associate_can_contrib').editable({
            value: '{{doc.finance.associates_can_contribute.value}}',
            source:
                    [
                        {value: 'true', text: 'true'},
                        {value: 'false', text: 'false'}
                    ]
        });

        $('#l_client_can_contrib').editable({
            value: '{{doc.property.client_can_contribute.value}}',
            source:
                    [
                        {value: 'true', text: 'true'},
                        {value: 'false', text: 'false'}
                    ]
        });

        $('#l_associate_can_contrib').editable({
            value: '{{doc.property.associates_can_contribute.value}}',
            source:
                    [
                        {value: 'true', text: 'true'},
                        {value: 'false', text: 'false'}
                    ]
        });

        $('#request_help').editable({
            value: '{{doc.finance.requested_other_help.value}}',
            source:
                    [
                        {value: 'true', text: 'true'},
                        {value: 'false', text: 'false'}
                    ]
        });

        $('#fbo_help').editable({
            value: '{{doc.recruitment.fbo_help}}',
            source:
                    [
                        {value: 'true', text: 'true'},
                        {value: 'false', text: 'false'}
                    ]
        });

        /**
         * iterate through all dynamic array fields to make them editable
         * data-pk is set to the current value of the element
         * An event listener for each link updates data-pk with the edited value
         **/
        $('.asset_name').each(function () {
            var id = '#' + $(this).attr("id");
            $(id).editable();
            $(id).click(function () {
                var pk = $(id).text() == 'Empty' ? '' : $(id).text();
                $(id).editable("option", "pk", pk);
            })
        });
        $('.asset_value').each(function () {
            var id = '#' + $(this).attr("id");
            $(id).editable();
            $(id).click(function () {
                var pk = $(id).text() == 'Empty' ? '' : $(id).text();
                $(id).editable("option", "pk", pk);
            })
        });

        $('.residents_name').each(function () {
            var id = '#' + $(this).attr("id");
            $(id).editable();
            $(id).click(function () {
                var pk = $(id).text() == 'Empty' ? '' : $(id).text();
                $(id).editable("option", "pk", pk);
            });
        });
        $('.residents_age').each(function () {
            var id = '#' + $(this).attr("id");
            $(id).editable();
            $(id).click(function () {
                var pk = $(id).text() == 'Empty' ? '' : $(id).text();
                $(id).editable("option", "pk", pk);
            })
        });
        $('.residents_relationship').each(function () {
            var id = '#' + $(this).attr("id");
            $(id).editable();
            $(id).click(function () {
                var pk = $(id).text() == 'Empty' ? '' : $(id).text();
                $(id).editable("option", "pk", pk);
            })
        });

    });

</script>