<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/view">Application Vetting  <span class="sr-only">(current)</span></a></li>
                <li><a class="nav-link" href="#">Site Visit</a></li>
                <li><a class="nav-link" href="#">Log Out</a></li>
            </ul>
        </div>
    </div>
</nav>

<div>
    <h1>Applications</h1>
    <div id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h2 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#new" aria-expanded="true" aria-controls="new">
                    New Applications
                    </a>
                </h2>
            </div>
            <div id="new" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <table>
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Last Edit</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each new}}
                    <tr>
                        <td><a href="/view/{{_id}}">{{application.name.first}} {{application.name.last}}</a></td>
                        <td>{{updated}}</td>
                        <td class="new">{{status}}</td>
                    </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div id="accordion2" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h2 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion2" href="#processing" aria-expanded="true" aria-controls="processing">
                    Applications in Process
                    </a>
                </h2>
            </div>
            <div id="processing" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <table>
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Last Edit</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each processing}}
                    <tr>
                        <td><a href="/view/{{_id}}">{{application.name.first}} {{application.name.last}}</a></td>
                        <td>{{updated}}</td>
                        <td class="processing">{{status}}</td>
                    </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div id="accordion3" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
                <h2 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion3" href="#declined" aria-expanded="true" aria-controls="declined">
                    Applications Complete - Declined
                    </a>
                </h2>
            </div>
            <div id="declined" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <table>
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Last Edit</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each declined}}
                    <tr>
                        <td><a href="/view/{{_id}}">{{application.name.first}} {{application.name.last}}</a></td>
                        <td>{{updated}}</td>
                        <td class="declined">{{status}}</td>
                    </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<link rel="stylesheet" href="/stylesheets/vetting.css"/>